.single-page-section {
    padding: 10rem 0 10rem 0;
    margin: 0 8.5rem 0 8.5rem;
    font-family: Rubik;
}
.single-page-row {
    display: flex;
}
.single-page-text-wrapper {
    display: flex;
    flex-direction: column;
}
.single-page-text-wrapper > h1 {
    color: #333333 !important;
    font-size: 1.25rem;
    font-weight: 600;
    overflow: hidden;
text-overflow: ellipsis;
}
