.single-page-section {
    padding: 10rem 0 10rem 0;
    margin: 0 8.5rem 0 8.5rem;
    font-family: Rubik;
}
.header-page-row {
    display: flex;
    gap: 1.5rem;
}
.header-page-thumbnail {
    width: 35rem;
    
}
.header-page-thumbnail > img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.header-page-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}
.header-page-text-wrapper > h1 {
    color: #333333 !important;
    font-size: 1.125rem;
    font-weight: 600;
    overflow: hidden;
text-overflow: ellipsis;
}
.header-page-text-wrapper > h2 {
    color: #333333 !important;
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.header-page-text-wrapper > p {
    border: 1px rgb(7, 28, 59) solid;
    font-size: 0.875rem;
color: rgb(7, 28, 59);
width: 7rem;
height: 1.75rem;
display: flex;
justify-content: center;
border-radius: 4px;
align-items: center;
}
.single-main {
display: flex;
flex-direction: column;
margin-top: 3rem;
gap: 0.5rem;
}
.single-row {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-bottom: 2rem;
}
.single-row > h1 {
    color: #9b9b9b !important;
    font-weight: 700;
    font-size: 0.9rem;
    
}
.single-row > p {
    font-size: 1.2rem;
    color: #333333 !important;
    font-weight: 400;
}