.navbar {
    height: 80px;
display: flex;
justify-content: space-between;
background-color: #ebebeb;
border-bottom: #dbdbdb 1px solid;
align-items: center;
}
.navbar > img {
  width: 10rem;
  height: 8rem;
  display: block;
  margin-block-start: -0.6rem;
  
}
.navbar > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  height: 2.5rem;
  font-size: 1.6rem;
  width: 5rem;
  border-radius: 5px;
  margin-right: 2rem;
}