.navbar {
    height: 80px;
display: flex;
justify-content: space-between;
background-color: #ececec;
border-bottom: #d6d6d6 1px solid;
align-items: center;
}
.navbar > img {
  width: 10rem;
  height: 8rem;
  display: block;
  margin-block-start: -0.6rem;
  
}
.navbar > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d498d4;
  height: 2.5rem;
  font-size: 1.1rem;
 padding: 1rem;

  border-radius: 100%;
  margin-right: 2rem;
}