.navbar {
    height: 80px;
display: flex;
justify-content: space-between;
background-color: #ebebeb;
border-bottom: #9e9e9e;
}
.navbar > img {
  width: 10rem;
  height: 10rem;
  display: block;
  margin-block-start: -2.6rem;
  
}